*{
    margin: 0px;
    padding: 0px;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font: bold 20px Tahoma;
    color: #990033
}

h2 {
    font: bold 14px Tahoma; 
}

#big_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 20px 0px;
}

#top_header {
    background: #6666ff;
    border: 1px solid black;
    padding: 10px; 
}

#top_header h1 {
    font: bold 20px Tahoma;
    color: #ffffff;
}

#top_header h2 {
    font: bold 14px Tahoma;
    color: #ccccff
}

#top_menu {
    background: #ccccff;
    color: #000066;
}

#top_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px tahoma;
}

#main_section {
    border: 1px solid #990033;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    background: #ff9999
}

#aside_news {
    border: 1px solid #990033;
    width: 200px;
    margin: 20px 0px;
    padding: 30px;
    background: #ff9999
}

#aside_news p:first-child {
    font: bold 14px Tahoma;
    color: #990033;
}

#footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #990033 
}

article {
    background: #ffcccc;
    border: 1px solid #990033;
    padding: 20px;
    margin-bottom: 15px; 
}

article footer {
    text-align: right;
}

#new_div {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) 
{
    #new_div {
        display: flex;
        flex-direction: column;
    }
  }

