<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="jumbotron">
  <div class="navbar navbar-expand-lg">
    <nav class="nav navbar-nav">
      <a routerLink="/movie-list" class="nav-item nav-link" routerLinkActive="active">Movies</a>
      <a routerLink="/under-construction" class="nav-item nav-link" routerLinkActive="active">Admin</a>
      <a routerLink="/under-construction" class="nav-item nav-link" routerLinkActive="active">About</a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active">Login</a>
    </nav>
  </div>
  <br>
      <h1>Angular Movies   <img class="rounded movie_img" src='\assets\Image\movie_black2.jpg' width="100" height="100"> </h1>  
      This small App demonstrates Routings
</div> 
<div class="container">
       <router-outlet></router-outlet> 
</div>  